<router-outlet></router-outlet>
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-two-way-data-binding-theory></app-two-way-data-binding-theory> -->
<!-- <app-task-two-way-data-binding></app-task-two-way-data-binding> -->
<!-- <app-directives-ngif-ngfor></app-directives-ngif-ngfor> -->
<!-- <app-directives-ngswitchcase></app-directives-ngswitchcase> -->
<!-- <app-directives-ngstyle></app-directives-ngstyle> -->
<!-- <app-directives-ngclass></app-directives-ngclass> -->
<!-- <app-directives-task></app-directives-task> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-post-user1></app-post-user1> -->
<!-- <hr> -->
<!-- <app-post-user2></app-post-user2> -->
<!-- <app-form-template-driven></app-form-template-driven> -->
<!-- <app-form-reactive></app-form-reactive> -->
<!-- <app-form-builder></app-form-builder> -->
<app-form-custom-validation></app-form-custom-validation>