<p>{{postArray}}</p>

<ul *ngIf="toonArray">
    <li *ngFor="let post of postArray">
        {{post}}
    </li>
</ul>


<!-- -------------------------------------------------- -->
<!-- 
    Objext Array
    > converteren naar json-formaat
-->
<hr>
<button (click)="addNew()">Add New Data</button>

<!-- <div *ngIf="objArray.length > 0; else noData"> -->
<!-- <ul> -->
<!-- index = een keyword -->
<!-- <li *ngFor="let post of objArray; let i = index"> -->
<!-- {{post | json}} -->
<!-- {{i}} - {{post.postTitle}} -->
<!-- <button (click)="onDelete(i)">Delete</button> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->

<!-- <div *ngIf="objArray.length === 0">
    <p>No data to fetch...</p>
</div> -->

<!-- -------------------------------------------------- -->
<div *ngIf="objArray.length > 0; then postList else noData"></div>

<ng-template #postList>
    <ul>
        <!-- index = een keyword -->
        <li *ngFor="let post of objArray; let i = index">
            <!-- {{post | json}} -->
            {{i}} - {{post.postTitle}}
            <button (click)="onDelete(i)">Delete</button>
        </li>
    </ul>
</ng-template>

<ng-template #noData>
    <p>No data to fetch...</p>
</ng-template>