<!-- -------------------------------------------------- -->
<!-- One-way DataBinding -->
<!-- -------------------------------------------------- -->
<!-- # String Interpolation -->
<p>{{ message }}</p>

<!-- # Property Binding -->
<img src="{{imgUrl}}" alt="{{imgUrl}}">

<img [src]="imgUrl" [alt]="imgUrl">

<!-- # Class Binding -->
<!-- <h1 class="text-red">Class Binding</h1> -->
<h1 [class.text-red]="trueFalse">Class Binding</h1>

<!-- # Style Binding -->
<!-- Dit zijn de mogelijk properties -->
<!-- https://www.w3schools.com/jsref/dom_obj_style.asp -->
<h1 [style.color]="trueFalse ? 'red' : 'blue'">Style Binding</h1>
<h1 [style.color]="'red'">Style Binding</h1>

<!-- # Event Binding -->
<button (click)="buttonClick()">Click Me</button> <br>


<!-- # Event Filtering-->
<!-- $event = event object -->
<input type="text" (keyup)="onKeyUp($event)"><br>
<!-- Hier gebeurt het > triggered enkel op .enter -->
<input type="text" (keyup.enter)="onKeyUp2()"><br>

<!-- # Template variable -->
<!-- Waarde van input-tag doorgeven -->
<!-- JS manier -->
<input type="text" (keyup.enter)="onKeyUp3($event)"><br>

<!-- Angular manier -->
<!-- #variabele -->
<input type="text" (keyup.enter)="onKeyUp4(inputTag)" #inputTag><br>

<!-- -------------------------------------------------- -->
<!-- # Two-way DataBinding -->
<!-- -------------------------------------------------- -->
<!-- Component <> View | Component <> HTML -->
<!-- one-way = component > view | component < view -->
<p>Two-way DataBinding</p>
<input type="text" [(ngModel)]="userName"><br>
<p>{{userName}}</p>